<%-include("../layouts/adminBannerHeader.ejs") %>

<div class="content">
    <div class="header">
        <h1>Edit Banner</h1>
        <form action="/admin/editBanner/<%= banner._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="bannerImage">Upload New Banner Image (Optional)</label>
                <input type="file" name="bannerImage" class="form-control-file" id="bannerImage">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" value="<%= banner.title %>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" id="description" required><%= banner.description %></textarea>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" name="startDate" class="form-control" id="startDate" value="<%= banner.startDate.toISOString().substring(0, 10) %>" required>
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" name="endDate" class="form-control" id="endDate" value="<%= banner.endDate.toISOString().substring(0, 10) %>" required>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select name="status" class="form-control" id="status" required>
                    <option value="Active" <%= banner.status === 'Active' ? 'selected' : '' %>>Active</option>
                    <option value="Inactive" <%= banner.status === 'Inactive' ? 'selected' : '' %>>Inactive</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update Banner</button>
        </form>

        <br>
        <a href="/admin/banner"><button class="btn btn-primary">Go Back</button></a>
    </div>
</div>

<%-include("../layouts/footer.ejs") %>
